@media only screen and (min-width: 320px) {  /*MOBILNI*/
    body {
        background-color: #f4f6fa;
    }
    .wrapper {
        margin-left: 1%;
        margin-right: 1%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 98%;
        border: 1px solid #012b41;
    }

    /*START HEADER*//*START HEADER*/
    .header {
        background-color: #012b41;
        height: auto; 
        margin: 0;
        padding: 0;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Shrikhand&subset=latin-ext');
    
    .header__name {
        color: #bfdae6;
        font-size: 25px;
        text-shadow: 0px 0px 10px #74aec6;
        letter-spacing: 4px;
        word-spacing: 5px;
        font-family: 'Shrikhand', cursive;
        text-align: center;
        margin: 0;
    } 
    /*END HEADER*/

    /*MENU START*/
    .main-menu {
        background-color: #5dbded;
        color: #5dbded;
        height: auto;
        text-align: center;
        padding: 0.25%;
        border-left: 2px solid #012b41;
        border-right: 2px solid #012b41;
        border-bottom: 2px solid #012b41;   
    }

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    .menu__dropdown-link {
        color: #5dbded;
        text-decoration: none;
        display: block;
        text-align: left;
        border: 2px solid #5dbded;;
        background-color: #012b41;
        border-radius: 5px;
        min-width: 260px;
        font-size: 15px;
        font-weight: bold;
        line-height: 25px;
        padding: 0 7% 0 2%;
        
    }

    .menu__dropdown {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: none;
    }

    .menu__item {
        list-style-type: none;
        display: block;
        color: #5dbded;
        font-size: 15px;
        border: 1px solid #5dbded;
        letter-spacing: 2px;
        border-radius: 5px;
        width: 100%;
    }

    .menu__link {
        color: #DC7741;
        font-size: 15px;
        text-decoration: none;
        display: block;
        padding: 2% 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: #012b41;
    }

    /*MENU END*/

    /*MAIN START*/

    /*ASIDE START*/
    .main {
        background-color: white;
        display: block;
        
    }

    .aside-bar {
        margin: 0;
        padding: 0%;
        width: 100%;
        font-family: 'Arima Madurai', cursive;
        display: block;

        
    }

    .aside-bar__img {
        max-width: 30%;
        display: block;
        padding: 0 3px 0 25px;  
        margin: 0;
    }

    .aside-bar__img--float {
        float: left;
        padding: 1% 1% 0% 5%;
        
    }

    .aside-bar__img--resize {
        max-width: 30%;
        padding: 2% 5% 2% 5%;
        display: inline;


    }

    .aside-bar__img--margin {
        margin-left: 10%;
    }

    .aside-bar__description {
        text-align: justify;
        padding: 5% 5% 0% 5%;
        font-size: 15px;
        font-family: 'Arima Madurai', cursive;
    }
    /*ASIDE END*/

    /*CONTENT START*/

    @import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,700&subset=latin-ext');
    

    .content {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Arima Madurai', cursive;
    }
    .description__opis {
        text-align: justify;
        margin: 0 5% 3% 5%;
        font-size: 15px;
    }

    

    .content__name {
        font-size: 40px;
        font-weight: bolder;
        text-shadow: 0px 0px 10px rgba(170, 134, 4, 0.75);
        color: #201a06;
        margin: 2% 0 0 0;
        text-align: center;
    }

    .content__name--tablet {
        display: none;
    }


    .crtani-film__trailer {
        max-width: 90%;
        height: 250px;
        margin: 0 5% 3% 5%;
    }

    .description__podnaslov {
        font-size: 25px;
        padding-top: 0;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        color: #012b41;
    }

    .description__img--tablet {
        display: none;
    }

    .description__img--mobile {
        margin: 0 5% 5% 5%;
        max-width: 90%;
        height: auto;
    }

    .crtani-film__name {
        font-size: 20px;
        padding-top: 0;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: left;
        color: #012b41;
        padding: 0% 3% 0% 3%;
    }

    
    /*CONTENT END*/

     /*MAIN END*/

     /*FOOTER START*/
    .footer {
        border: 1px solid #012b41;
        display: block;
        height: auto;
        background-color:#012b41;
        color: #ffffff;
        padding: 0;
        text-align: center;
        margin-top: 0;
        font-size: small;
    }
    .footer__contact-mail {
        color: #ffffff;
    }
    .footer__copyright--small {
        font-size: x-small;
    }
    /*FOOTER END*/
    img {
        max-width: 90%;
        height: auto;
        margin: 5%;
    }
}
/*FOOTER START*/

/*

/*FOOTER END*/

@media only screen and (min-width: 800px) {  /*TABLET*/
    
    .wrapper {
        margin: 2%;
        width: 96%;
        border-radius: 20px; 
    }
    
    /*START HEADER*/
    
    .header {
        padding: 5px 20px 5px 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .header__name {
        font-size: 50px;
        letter-spacing: 20px;
        word-spacing: 20px;
    } 
    
    /*END HEADER*/
    
    /*MENU START*/
    .main-menu {
        color: #DC7741;
    }
    
    .menu__dropdown-link {
        color: #DC7741;
        border: 2px solid #DC7741;
        font-size: 12px;
        padding: 0 5% 0 2%;
    }
    
    .menu__dropdown-link:hover {
        display: block;
        color: #f9f9f9;
        background-color: #8c6c02;
    }
    
    .menu__dropdown {
        z-index: 1;
        position: absolute;
        min-width: 28%;
    }
    
    .menu__item {
        display: inline-block;
        color: #DC7741;
        border: 2px solid #DC7741;
        width: 25%;
    }
    
    .menu__link {
        padding: 2% 1% 2% 1%;
        font-size: 12px;
    }
    
    .menu__link:hover {
        background-color: #8c6c02;
    }
    
    .menu__item--drop:hover .menu__dropdown {
        display: block;
    }
    /*MENU END*/
    
    .main {
        display: inline-block;
        border-left: #201A06 1px solid;
        border-right: #201A06 1px solid;
        width: 100%;
    }
    
    .aside-bar {
        margin: 3% 1% 1% 2%;
        padding: 1%;
        width: 31%;
        float: left;
        border: 1px solid #5dbded;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 3px #5dbded;
    }
    
    .aside-bar__img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto auto 5% auto;
        padding: 0;
        
    }


    
    .aside-bar__description {
        padding: 3%;
        font-size: 18px;
        clear: both;
    }

    
    
    .content__name--mobile {
        display: none;
    }

    .content__name--tablet {
        margin: 0;
        display: block;
    } 
    .content {
        margin: 0 1% 1% 0%;
        padding: 0 1% 1% 1%;
        width: 60%;
        float: right;
    }

    .description__opis {
        margin-top: 0;
        padding-bottom: 2%;
        padding-top: 1%;
    }

    .description__opis--space {
        padding-top: 5%;
    }
    
    .description__img--mobile {
        display: none;
    }

    .description__img--tablet {
        max-width: 90%;
        height: auto;
        display: block;
    }

    .content__name {
        font-size: 50px;
        text-align: left;
        padding: 1% 0 2% 0; 
    }

    .footer {
        border: 1px solid #201A06;
        height: 130px;
        padding: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        clear: both;
    }

    .footer__copyright--small {
        font-size: small;
    }
}

@media only screen and (min-width: 1000px) {  /*DESKTOP*/
    body {
        background-image: url(background_image/cartoon1.jpg);
        background-repeat: repeat;
        background-color: #bac9e8;
    }
    
    .wrapper {
        margin: 2% 10% 2% 10%;
        width: 80%;
        border: 2px solid #012b41;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 7px #012b41;
    
    }
    
    .header {
        height: auto; 
        padding: 30px 20px 5px 20px;
    }
    
    .header__name {
        font-size: 100px;
    } 
    
    .menu__item {
        width: 20%;
    }
    
    .aside-bar {
        margin: 5% 1% 1% 2%;
        width: 28%;
    }

    .description__img--desk {
        display: block;
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: auto;
    }

    .description__opis--space {
        padding-top: 7%;
    }
    
    .content {
        width: 63%;
    }
    
    .crtani-film__trailer {
        max-width: 100%;
        height: 315;
        margin: 0;
    }

    .description__opis {
        margin: 0;
    }

    .content__name--tablet {
        display: block;
    }
    img {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

}
